#content{
    margin-left: 300px;
    margin-right: 500px;
    margin-top: 100px;
    padding-left: 100px;
}
.py-3 px-4 mx-auto max-w-screen-xl md:px-6{
    color:black;
}

p{
    font-size: 1.1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#h{
    font-size: 25px;
    color: rgb(35, 110, 35);
}

.Advertisement-container{
    display: flex;
    margin-top: -616px;
    margin-left: 1167px;
    flex-direction: column;
    
}

.advertisement{
    padding-top: 60px;
    padding-bottom: 60px;
    border-style: solid;
    border-radius: 2px;
    border: 1px solid rgba(179, 89, 89, 0.5)
}

.w3-bar{
    padding: 29px;
    text-align: center;
    word-spacing: 34px;

}

.w3-black, .w3-hover-black:hover {
    color: rgb(54, 52, 214);
    background-color: #000;
}

.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
}
.advertisement p{
    text-align: center;
}

#py-3 px-4 mx-auto max-w-screen-xl md:px-6{
    background-color: black;
}